@model IEnumerable<WEBSITEBANMAYTINH.Models.NHASANXUAT>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-6">
        <h2 class="text-info">NHASANXUAT LIST</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp;New NHASANXUAT</a>
    </div>
</div>
<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.TenNhaSanXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhaSanXuat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoDienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td style="width:200px">
                    <div class="btn-group" role="group">
                        <a tyle="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a tyle="button" class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fas fa-list-alt"></i>
                        </a>
                        <a tyle="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>