@model IEnumerable<WEBSITEBANMAYTINH.Models.SANPHAM>

@{
    ViewData["Title"] = "Index";
}

    <br /><br />
<h1>Index</h1>

<div class="row">
    <div class="col-6">
        <h2 class="text-info">NHASANXUAT LIST</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp;New NHASANXUAT</a>
    </div>
</div>
<table class="table table-striped border">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOAISANPHAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHASANXUAT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>

            <td>
                @String.Format("{0:c}", item.DonGia)
            </td>
            <td>
                @if (!item.LOAISANPHAM.TenLoaiSanPham.Equals("--None--"))
                {
                    @Html.DisplayFor(modelItem => item.LOAISANPHAM.TenLoaiSanPham)
                }
            </td>
            <td>
                @if (!item.LOAISANPHAM.TenLoaiSanPham.Equals("--None--"))
                {
                    @Html.DisplayFor(modelItem => item.NHASANXUAT.TenNhaSanXuat)
                }
            </td>

            <td style="width:150px">
                <div class="btn-group" role="group">
                    <a asp-action="Edit" asp-route-id="@item.Id" type="button" class="btn btn-primary"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" type="button" class="btn btn-success"><i class="fas fa-align-justify"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" type="button" class="btn btn-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
                </div>
            </td>

        </tr>
        }
    </tbody>
</table>
