@model List<WEBSITEBANMAYTINH.Models.SANPHAM>
@{
    ViewData["Title"] = "_AppointmentSanPhamDetails";
}

<h1>_AppointmentSanPhamDetails</h1>
@if (Model.Count > 0)
{
    <table class="table table-striped" width="100%">
        <tr class="table-info">
            <th style="text-align:center; width:20%"></th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().TenSanPham"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().DonGia"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().LOAISANPHAM.TenLoaiSanPham"></label>
            </th>
            <th style="text-align:center;">
                <label asp-for="@Model.FirstOrDefault().NHASANXUAT.TenNhaSanXuat"></label>
            </th>
            <th style="text-align:center;"></th>
            <th style="text-align:center;"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="padding:50px;">
                <td>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border:1px solid #bbb9b9;" />
                    </a>

                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.TenSanPham)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(c => item.DonGia)
                </td>
                <td style="text-align:center">
                    @if (!item.LOAISANPHAM.TenLoaiSanPham.Equals("--None--"))
                    {
                        @Html.DisplayFor(c => item.LOAISANPHAM.TenLoaiSanPham)
                    }
                </td>
                <td style="text-align:center">
                    @if (!item.NHASANXUAT.TenNhaSanXuat.Equals("--None--"))
                    {
                        @Html.DisplayFor(c => item.NHASANXUAT.TenNhaSanXuat)
                    }
                </td>
                <td style="text-align:center">
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>
        <h2 style="text-align:center;">Không có sản phẩm trong giỏ hàng của bạn.</h2>
    </div>
}